* {
    background-color: #00274C;
    color: #FFCB05;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section {
    border: dotted 3px #FFFFFF;
    margin: 20px 2px;
}

.grid-petsgallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 5px;
}

.grid-petsgallery > img, video{
    max-width: 80%;
    max-height: 80%;
}

.grid-recipesgallery {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0 5px;
}

.grid-travelgallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 5px;
}

.grid-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px;
    padding: 5px;
    border: solid 3px #FFFFFF;
    column-gap: 2px;
    text-align: center;
    padding: 10px;
}

.active-nav-item {
    font-weight: bold;
    border: solid 2px #FFCB05;
    background-color: #FFCB05;
    color: #00274C;
    width: 100%;
    height: 100%;
    font-size: large;
}

.inactive-nav-item {
    width: 100%;
    height: 100%;
    border: solid 2px #00274C;
    font-size: large;
}

.skip-to-main {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-to-main:focus {
    position: static;
    width: auto;
    height: auto;
    text-align: center;
    display: block;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    background-color: #FFCB05;
    color: #00274C;
    padding: 5px;
}

h2 {
    text-align: center;
    margin: 10px;
    font-size: x-large;
}

h3 {
    font-size: large;
    text-align: center;
    margin: 10px;
}

p {
    margin: 5px 10px;
    text-indent: 10%;
    line-height: 1.5;
}

img, video {
    border: solid 2px white;
    border-radius: 5px;
    display: block;
    margin: 5px;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

ul:not(.grid-navbar),ol {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 20px;
    line-height: 1.5;
    margin: 0 5% 30px 5%;
}

.credit {
    color: #FFCB05;
    border: solid 2px #FFCB05;
    padding: 2px;
    border-radius: 10px;
}

.grid-travelgallery > p {
    text-indent: 0;
}

@media (prefers-reduced-motion: reduced) {
    .movement {
        display: none;
    }
}

@media screen and (min-width: 750px) {

    /* index.html */
    .indexone, .indextwo {
        display: inline-block;
        width: 40%;
        vertical-align: top;
    }

    .indexone {
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .indextwo {
        margin-right: 5%;
        margin-left: 2.5%;
    }

    /* pets.html, recipes.html */
    
    .pets, .recipes {
        display: inline-block;
        width: 28%;
        vertical-align: top;
    }

    .pets:nth-child(1), .recipes:nth-child(1) {
        margin-left: 4%;
        margin-right: 1%;
    }

    .pets:nth-child(2), .recipes:nth-child(2) {
        margin-left: 1%;
        margin-right: 1%;
    }

    .pets:nth-child(3), .recipes:nth-child(3) {
        margin-left: 1%;
        margin-right: 3%;
    }

    .grid-recipesgallery > img {
        width: 80%;
    }

    /* travel.html */

    .travel {
        display: inline-block;
        width: 41%;
        vertical-align: top;
    }

    .travel:nth-child(1), .travel:nth-child(3) {
        margin-left: 5%;
        margin-right: 2.5%;
    }

    .travel:nth-child(2), .travel:nth-child(4) {
        margin-left: 2.5%;
        margin-right: 5%;
    }

    .travel:nth-child(5) {
        margin-left: 30%;
        margin-right: 30%;
    }

}

/* Other tablet view changes */

.grid-navbar {
    position: fixed;
    top: 0;
    width: 95%;
    margin-left: 1%;

}

h1 {
    margin-top: 60px;
}

.skip-to-main:focus {
    position: relative;
    top: 30px;
    left: 40%;
    right: 40%;
    width: 20%;
    top: 55px;
    background-color: #FFFFFF;
    color: #00274C;
}